body {
    font-family: 'Just Another Hand', cursive;
    padding-top: 25px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-properties {
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 10px 25px;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 20pt;
}

    nav a:hover,
    nav a:focus {
        outline: none;
        text-decoration: none;
    }

    .cl-effect-11 a::before {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 12px 0;
        max-width: 0;
        color: #000000;
        content: attr(data-hover);
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s linear;
    }

    .cl-effect-11 a:hover::before,
    .cl-effect-11 a:focus::before {
        max-width: 100%;
    }

@-webkit-keyframes feet {
    0% {
        background-image: url(../Content/Images/RightFoot.png);
        background-repeat: no-repeat;
        background-position: 0% 100%;   
    }


    25% {
        background-image: url(../Content/Images/LeftFoot.png);
        background-repeat: no-repeat;
        background-position: 20% 90%;
    }

    50% {
        background-image: url(../Content/Images/RightFoot.png);
        background-repeat: no-repeat;
        background-position: 40% 100%;
    }

    75% {
        background-image: url(../Content/Images/LeftFoot.png);
        background-repeat: no-repeat;
        background-position: 60% 90%;
    }

    100% {
        background-image: url(../Content/Images/RightFoot.png);
        background-repeat: no-repeat;
        background-position: 80% 100%;
    }
}

.cl-effect-11 a {
    padding: 12px 0;
    color: firebrick;
}

.cl-effect-11 a:hover {
    animation: feet 1.5s;
}

.carousel {
    margin-top: 10px;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 lightgray;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}

.carousel-control:hover {
    background-color: firebrick
}

.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: lightgray;
}
.carousel-indicators .active {
background: firebrick;
}



a.thumbnail:hover, a.thumbnail:focus {
    border-color: firebrick;
}